<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <p class="project-name">Interactive Data Visualization</p>
      <p class="author-name">Author: Leung Tsz Chun, Max; <a href="https://hk.linkedin.com/in/max-leung-b6a67514b" target="_blank" style="color:white;"><u>My Linkedin</u></a></p>
      <p class="project-tagline">
        Contents are not finalized
        <br>Source: Background images are modified from NASA Earth Observations (NEO)
      </p>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </section>

    <section class="main-content">
      <h1>Interactive Infographic</h1>
      <p>The map is created by D3.js. Other charts are drawn by Highcharts.js. Then they are embeded in Visme.
      <br>I made all these from scratch at home, without using any code I wrote and data I collected in the office.</p>
      <script src="//my.visme.co/visme.js"></script>
      <div class="visme_d" data-url="8rye3eym-china-s-consumption-story-v" data-w="1000" data-h="2300" data-domain="my"></div>
      <p>Credits: The D3 map is inspired by <a href="https://bl.ocks.org/mbostock/4060606">this</a>, <a href="https://bl.ocks.org/mbostock/3884955">this</a> and <a href="http://www.oxxostudio.tw/articles/201503/html5-input-range-style.html">this</a>.
      The map border is modified from shape file downloaded from <a href="http://www.naturalearthdata.com/">Natural Earth.</a></p>
      
      <h1>NASA Black Marble</h1>
      <p>Using Three.js to visualize our beautiful Earth.</p>
      <iframe src="https://maxleungtszchun.github.io/earth/rotate_earth.html", width="100%", height="500px" scrolling="no"></iframe>
      <p>Source: NASA Earth Observations (NEO) and Tom Patterson, www.shadedrelief.com</p>
      <p>Credits: Inspired by <a href="http://blog.mastermaps.com/2013/09/creating-webgl-earth-with-threejs.html">this tutorial</a>
        and using <a href="https://github.com/mrdoob/three.js/tree/master/examples/js/controls">OrbitControls.js</a></p>
      
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
